$cor0: #ddd;
$cor1: lightcoral;
$cor3: #a7a7a7;
$cor4: #f3f3f3;

$white: #fff;
$preto: #242323;

$roxo: rebeccapurple;
$pink: deeppink;
$verde: #1fb41f;
$azul: #1f85b4;

$verdeClaro: #aaffaa;
$verdeEscuro: #267526;

$vermelhoClaro: #ffadad;
$vermelhoEscuro: #752626;

$amareloClaro: #fdf7a3;
$amareloEscuro: #757026;

$aquamarineClaro: rgb(155, 253, 221);
$aquamarineEscuro: rgb(61, 158, 126);

$item100px: 100px;

$lg-Deeppink-Rebeccapurple: linear-gradient(45deg, deeppink, rebeccapurple);
